.header {
  background-color: $white;
  position: relative;
}

.header__container {
  padding: 12px 0;
  margin: 0 15px;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    padding: 30px 125px 40px 20px;
    align-items: center;
  }
}

.header__logo-wrap {
  display: flex;
  align-items: center;
  width: 100%;

  @include desktop {
    width: auto;
    margin-right: auto;
  }
}

.header__logo {
  padding-left: 73px;
  margin-right: auto;
  position: relative;
  height: 65px;
  display: flex;
  align-items: center;
  font-family: $museoregular;
  font-size: 14px;
  text-transform: uppercase;
  color: $black;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 65px;
    background: url("../img/logo.png") 50% 50% no-repeat;
  }
}

.header__button {
  display: block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  background: $white;
  box-shadow: 0 3px 10px rgba(52, 86, 104, 0.11);
  background-size: 17px 17px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: $yellow-dark;

  @include desktop {
    display: none;
  }

  &--cart {
    background-image: url("../img/header-cart.svg");
  }

  &--call {
    background-image: url("../img/header-call.svg");
  }
}

.header__burger {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: $black;

  @include desktop {
    display: none;
  }

  &--opened {
    background-image: url("../img/icon-menu-cross.svg");
    background-size: 15px 15px;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;

  @include desktop {
    position: static;
    flex-direction: row;
    margin-right: 90px;
    width: auto;
  }

  &--hidden {
    display: none;

    @include desktop {
      display: flex;
    }
  }
}


.header__contacts-list {
  display: none;

  @include desktop {
    display: flex;
  }
}
