.promo {
  @include desktop {
    padding: 160px 160px 200px;
    background-image:
      url("../img/paws.png"),
      url("../img/dog.png");
    background-size: 960px 860px, 960px 860px;
    background-repeat: no-repeat, no-repeat;
    background-position: right -20px top 0, right -20px top 0;
  }
}

.promo__container {
  padding-top: 40px;
  margin: 0 15px;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    margin: 0;
  }
}

.promo__text {
  @include desktop {
    width: 55%;
  }
}

.promo__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include desktop {
    width: 480px;
  }
}

.promo__title {
  font-family: $museoextrabold;
  font-size: 24px;
  line-height: 1.15;
  color: $black;

  @include desktop {
    font-size: 36px;
  }
}

.promo__subtitle {
  margin-top: 25px;
  font-family: $regular;
  font-size: 13px;
  line-height: 1.44;
  color: $black;

  @include desktop {
    width: 320px;
    margin-top: 55px;
    font-size: 15px;
  }
}

.promo__button {
  margin-top: 30px;
  padding: 20px 43px;
  background: $yellow-light;
  border-radius: 60px;
  font-family: $bold;
  font-size: 12px;
  color: #ffffff;

  @include desktop {
    padding: 23px 43px;
    margin-top: 60px;
    font-size: 14px;
  }
}

.promo__slider {
  margin-top: 30px;

  @include desktop {
    margin-top: 0;
  }
}

.promo__slider-controls {
  display: none;

  @include desktop {
    display: flex;
    width: 100%;
    margin-top: 25px;
  }
}

.promo__slider-dots {
  @include desktop {
    margin-right: auto;
    margin-top: 15px;
    margin-left: 10px;
  }
}

.promo__slider-buttons {
  @include desktop {
    margin-right: 690px;
  }
}
