@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src:
    local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src:
    local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src:
    local("OpenSans-Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src:
    url("../fonts/museosanscyrl-500.woff") format("woff");
}

@font-face {
  font-family: "MuseoSansCyrlBold";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src:
    url("../fonts/museosanscyrl-700.woff") format("woff");
}
