body {
  min-width: 375px;
  margin: 0;
  padding: 0;
  background-color: $grey;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

th,
td {
  padding: 0;
  margin: 0;
}

.list-style-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
