$desktop-width: 1920px;

$black: #212121;
$grey: #f9f9fd;
$yellow-light: #ffb125;
$yellow-middle: #feb300;
$yellow-dark: #ff8f1e;


$regular: "OpenSans", "Arial", sans-serif;
$bold: "OpenSans-Bold", "Arial", sans-serif;
$light: "OpenSans-Light", "Arial", sans-serif;
$museoregular: "MuseoSansCyrl-500", "Arial", sans-serif;
$museobold: "MuseoSansCyrlBold", "Arial", sans-serif;
